# Copyright (c) 2020 Ryan Cross
# SPDX-License-Identifier: MIT

if SHIELD_DACTYLM_LEFT

config ZMK_KEYBOARD_NAME
	default "DactylM"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
endif

if SHIELD_DACTYLM_LEFT || SHIELD_DACTYLM_RIGHT

config ZMK_SPLIT
	default y

endif
